

body {
    background : linear-gradient(80deg, #514a85, #b2bcca );
}
h1 {
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    position: absolute;
    margin-top: 170px;
    font-size: 60px;
}
body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
min-height: 100vh;
position: relative;
overflow-x: hidden;
background: 

linear-gradient(
    180deg,
    rgba(10, 15, 29, 0.45) 0%,
        rgba(10, 15, 29, 08) 60%,
    rgba(10, 15, 29, 0.98) 100%
),
url("images/Rumiware.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed; 
transition: filter 0.6s ease;
}

body:hover {
filter: contrast(1.1) brightness(1.02);
}

.header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;

}

.nav {
    display: flex;
    gap: 20px;
    color:#514a85;
    /* background-color: #b2bcca; */
    font-size: 20px;
    text-decoration: none;
    
}

.nav a {
    text-decoration: none;
    color: #514a85;
}